node_modules
todo.txt
static/svelte-material-ui.css
static/widget.js

# Nginx
nginx/*.crt
nginx/*.key
nginx/*.conf
nginx/bots.d
nginx/conf.d

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.production
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Others
static/robots.txt
static/sitemap.xml
src/lib/services/miner/4.js